asgiref==3.7.2
beautifulsoup4==4.12.2
Django==3.1.7
django-livereload-server==0.4
Pillow==10.0.0
psycopg2-binary==2.9.6
python-environ==0.4.54
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tornado==6.3.2
typing_extensions==4.7.1
