@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import "reset.css";

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
}
nav a {
    color: #ffffff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav li {
    padding: 0 10px;
}
#blog {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
}
#blog h1 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}
#blog h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}

#blog article {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 2rem;
}

@media (max-width: 800px) {
    #blog {
        width: 100%;
    }
    #blog article {
        width: 100%;
    }
}